NEXT_PUBLIC_BASE_URL=http://localhost:3000
STRIPE_SECRET_KEY=
STRIPE_PRO_PRICE_ID=
STRIPE_ENTERPRISE_PRICE_ID=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
NVIDIA_API_KEY=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
NVIDIA_VISION_MODEL=meta/llama-3.2-90b-vision-instruct
