NEXT_PUBLIC_BASE_URL=http://localhost:3000
STRIPE_SECRET_KEY=
STRIPE_PRO_PRICE_ID=
STRIPE_ENTERPRISE_PRICE_ID=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
HTTP_PROXY=http://127.0.0.1:3213
